* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/my8xckdzm4l.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: 135px 270px 127px 327.9px 165.6px;
    grid-template-columns: 89.8px 402.2px 223.2px 267.7px;
    grid-template-areas:
        "one six  six six"
        "two two  two two"
        "three three three three"
        "four four  seven eight"
        "five  five  five five";
}

.box1  { grid-area: one;    }
.box2  { grid-area: two;    }
.box3  { grid-area: three;  }
.box4  { grid-area: four;   }
.box5  { grid-area: five;   }
.box6  { grid-area: six;    }
.box7  { grid-area: seven;  }
.box8  { grid-area: eight;  }